/*Fonts*/
@font-face {
    font-family: 'RubikOne';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik One Regular'), url('RubikOne-Regular.woff') format('woff');
    }

@font-face {
  font-family: 'Geometric';
  font-style: normal;
  font-weight: normal;
  src: url(geometric.otf);
  }

/*Base*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #fffad8;
    overflow-x: hidden;

}

/*Style*/
.Top {
    background-color: #873030;
    padding: 20px;
    font-size: 20px;
    font-family: 'RubikOne';
    letter-spacing: 0.5px;
    color: #fffad8;
    text-align: center;
    overflow: hidden;
}

.Top1 {
  position: absolute;
  width: 100%;
  margin: -10px;
  text-align: center;
  animation: scroll-right 15s linear infinite; 
  }

.Top2 {
  position: absolute;
  width: 100%;
  margin: -10px;
  text-align: center;
  animation: scroll-right 15s linear infinite; 
  animation-delay: 7.5s;
  transform: translateX(-100%);
  }

.Middle {
    background-color: #af3e3e;
    color: #af3e3e;
    text-align: center;
    padding: 1px;
    line-height: 15px;
}
.Bottom {
    background-color: #ebebeb;
    color: #ebebeb;
    text-align: center;
    padding: 1px;
    line-height: 10px;
    font-size: 1px;
}
.End {
    background-color: #af3e3e;
    color: #af3e3e;
    text-align: center;
    padding: 1px;
    line-height: 3px;
    font-size: 1px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #fcfbfb;
    display: flex;
    justify-content: right;
    width: 100%;
    padding-right: 25px;
  li {
    border-radius: 10px;
    margin-left: 20px;
    width: 150px;
    height: 55px;
    a {
        justify-content: center;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: RubikOne;
      }
  }
  .Logos {
    padding-right: 59vh;
    display: flex;
    P {
      font-family: RubikOne;
      font-size: 40px;
      color: #af3e3e;
      margin: 5px 5px 5px 20px;
  
    }
    img {
      height: 60px;
      width: 65px;
    }
  }
}

.Home {
  background-image: linear-gradient(#1f0706bd, #080e2998), url(Images/Cooking.gif);
  background-size: cover;
  background-position: bottom, 0px -12vh;
  height: 600px;
  margin-bottom: -10px;
  padding: 200px 50px 50px 60px;
  overflow: visible;
  .Title {
    color: #af3e3e00;
    font-size: 70px;
    font-family: RubikOne;
    background: linear-gradient(to right, #e45454, #d69061);
    background-clip: text;
    -webkit-background-clip: text;
  }
  p {
    color: #af3e3e00;
    font-size: 45px;
    font-family: RubikOne;
    background: linear-gradient(to right, #f1ae81, #f0b085);
    background-clip: text;
    -webkit-background-clip: text;
  }
  button {
    color: #d66f61;
    background-color: #f0ebcc;
    font-size: 28px;
    padding: 25px 55px 25px 55px;
    border: none;
    border-radius: 40px;
    font-family: Rubikone;
    margin-top: 40px;
    transition: all 0.8s;
    font-weight: lighter;
    cursor: pointer;
  }
  
}

.Scroll1 {
  display: flex;
  background-image: linear-gradient(#fffad81e, #fffad859), url(Images/Backdrop1.svg);;
  background-position: center;
  background-repeat: no-repeat;
  height: 1000px;
  overflow-y: hidden;
  p {
    font-family: RubikOne;
    color: #af3e3e;
    font-size: 70px;
  }
  span {
    color: #af3e3e00;
    font-family: RubikOne;
    background: linear-gradient(to right, #ca5a5a, #d69061);
    background-clip: text;
    -webkit-background-clip: text;
  }
  .Sub1 {
    font-size: 35px;
    font-family: Geometric;
    color: #ca5a5a;
  }
  div {
    width: 50%;
  }
  button {
    color: #ca5a5a;
    background-color: #e6d3b8;
    font-size: 28px;
    padding: 25px 55px 25px 55px;
    border: none;
    border-radius: 40px;
    font-family: Rubikone;
    margin-top: 40px;
    transition: all 0.8s;
    font-weight: lighter;
    cursor: pointer;
  }
  img {
    border-radius: 300px;
    margin-left: 120px;
  }
  .div {
    padding: 50px 100px 50px 100px;
    background: rgba(255, 250, 216, 0.096);
    border-radius: 16px;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    margin-top: 150px;
    transform: translateY(700px);
  }
}

/*Animations*/

.show1 {
  opacity: 1;
}

@keyframes scroll-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}